body > header {
	display: flex;
	grid-template-columns:  1fr 1fr;
}

.header_navigation {
	vertical-align: center;
	font-size: 0.6em;
}



body > main {
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
