html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  //background-color: #484848;
  background: url("../res/background.jpg") repeat;
  height: 100%;
  width: 100%;
}

/**    header    **/

header {
  z-index: 100;
  position:fixed;
  top:0;
  height: 3em;
  width: 100%;
  background-color: black;
  display:flex;
  justify-content: space-between;
}

.logo {
  height: 75%;
  align-self: center;
  margin-left: 0.3em;
}

.logo > img {
  height: 100%;
  width: auto;
  padding-top: 0.1em;
}

.trigram_container {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 1em 0.3em 0;
}

.trigram_button {
  font-size: xx-large;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-out;
  transition: opacity 500ms;
}

.header_navigation {
  margin: 3em 0 0 0;
  padding: 0.2em 0 0.2em 0;
  background-color: black;
  border: 0.1em solid #F5F5DC;
  border-radius: 0.3em;
}

.overlay {
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.trigram_popup {
  transition: all 500ms ease-in-out;
}

.header_navigation li {
  padding: 0.3em 1.8em 0.3em 1.8em;
  list-style-type: none;
  float: none;
  opacity: 0.9;
}

.header_navigation a {
  color: white;
	text-decoration: none;
	font-size: 0.9em;
}

.header_navigation a.active {
  color: #4da542;
}

.header_navigation a:hover {
  color: #34802b;
}

.header_navigation a:hover:not(.active):not(.logout) {
  color: #CFCFCF;
}

.header_navigation a.logout {
  color: #af3030;
}

/**    error/success    **/

.success_error {
  padding: 3em 0 1em 0;
  text-align: center;
}

.success_error h3 {
  margin: 0;
  padding-top: 0.5em;
  background-color: #900;
}

#error, #success {
  padding: 0.5em 0 1em 0;
  width: 100vw;
  background-color: #900;
}

#success {
  background-color: #007400;
}


/**    content    **/

#content {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 2em 3.5em;
}

.post_grid {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.post_grid a {
  color: #202020;
  text-decoration: none;
  margin: 0.5em;
}

.post_request {
  border: 0.1em solid #000;
  border-radius: 0.5em;
  background-color: white;
  width: 15em;
  height: auto;
  overflow: hidden;
}

.post_request:hover {
  border-color: green;
}

.post_img_wrapper {
  width: 15em;
  height: 11em;
  background-position: center;
  background-size: cover;
  border-bottom: 0.1em solid;
  border-color: inherit;
}

.post_description {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

  /**    sidebar    **/

.sidebar {
  overflow: hidden;
  white-space: nowrap;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  margin: 3em 0 3em 0;
  padding: 0 0.5em 0.5em 0.5em;

  background-color: #F5F5DC;
  border-right: 0.05em solid black;
  color: #181818;

  height: 100vh;
  width: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  transition: all 500ms ease-out;
  visibility: hidden;
}

.user_photo img {
  border: 0.1em solid black;
  border-radius: 0.2em/0.5em;
  width: 10em;
}

.sidebar_colapsed {
  height: 100vh;
  width: 2.5em;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 3em;
  background-color: #181818;
  color: #F5F5DC;
  text-decoration: none;
  border-right: 0.1em solid black;
}

.sidebar_colapsed span {
  position: fixed;
  top: 50%;
  left: -3.1em;
  font-size: 1.5em;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#show_sidebar:target + .post_grid {
  padding-left: 14em;
}

#show_sidebar:target {
  visibility: visible;
  width: 12em;
}

.close_sidebar {
  text-decoration: none;
  color: black;
  font-size: 0.7em;
  margin: 0.1em 0 1em auto;
  font: Verdana, sans-serif;
}

.close_sidebar:hover {
  color: #800000;
}

  /**    content nav    **/

.content_navigation {
  display: flex;
  justify-content: space-around;
}

.content_navigation ul {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9em;
  padding: 1em 1em 1em 1em;
  margin: 0;
}

.content_navigation li {
  float: left;
  display: inline;
  border-right: 1px solid black;
  border-left: 0;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.content_navigation li:last-child {
  border: 0;
}

.content_navigation a {
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  height: 100%;
}

.content_navigation a.active {
  color: white;
  text-decoration: underline;
}

.content_navigation a:hover {
  color: #CFCFCF;
}


/**    footer    **/

footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

footer > .authors {
  margin: 0;
  color: white;
  font-size: xx-small;
  text-align: center;
  padding: 0.5em;
}



/**    index    **/

.visitor {
  background-color: #282828;
  border: 0.1em solid black;
  border-radius: 0.5em;
  margin: 1em auto;
  padding: 0 6em;
  width: fit-content;
  min-width: 12em;
  /** only page with no sidebar **/
  transform: translateX(-1.5em);
}

.visitor h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #4da542;
}

.visitor .box {
  width: fit-content;
  margin: 1em auto;
}

.visitor .box a {
  text-decoration: none;
  color: #F5F5DC;
  padding: 0 1em;
}

.visitor .box a:hover {
  color: #CFCFCF;
}

.visitor .box a:first-child {
  border-right: 0.1em solid black;
  padding-right: 1.5em;
}

#login, #register {
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
}

.popup {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  background-color: #F5F5DC;
  border: 0.05em solid black;
  border-radius: 0.2em;
}

.popup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5em 2.5em 1.5em;
}

.popup h2 {
  text-align: center;
  margin: 0.5em 0 1em 0;
}

.close {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  width: fit-content;
  margin: 0 0.25em 0 auto;
}

.close:hover {
  color: #800000;
}


/* profile */

.profile_wrapper {
  justify-content: center;
  align-items: center;
  align-self: center;
}


.profile {
  min-height: 100vh;
  max-width: 70em;

  background-color: white;
  margin: 0 3em 0 3em;
  padding: 0;

  border: 0.1em solid black;
  border-radius: 0.5em;
}

.profile_top {
  display: flex;
  padding: 1.5em 1em 1em 2em;
}

.profile_pic_wrapper {
  overflow: hidden;

  border: 0.1em solid black;
  border-radius: 0.3em;

  width: 12em;
  height: 12em;
  background-position: center;
  background-size: cover;
}

.stars {
  display: flex;
  align-items: center;
  margin-top: 1em
}

.stars h3 {
  padding-right: 1em
}


.profile_top_right {
  width: fit-content;
  margin: 2em 0 0 4em;
}


.profile_top_right h2{
  padding: 0;
  margin: 0
}

.profile_top_right h3{
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 1em;
}


.stars img {
  height: 2em;
  width: auto;
}

.profile_top_right ul {
  list-style-type: circle;
  padding-left: 0;
}


.description_wrapper {
  padding: 0 1em 0 1em;
}

.description_wrapper p {
  text-align: justify;
}

.recent_posts {
  background-color: lightgrey;
  margin: 0;
  padding: 1em;
}

.recent_posts > h2 {
  margin-top: 0;
}

.recent_comments {
  padding: 1em;
}

.recent_comments > h2 {
  margin-top: 0;
}

.comment {
  padding: 0.3em;
  background-color: lightgrey;
  border: 0.1em solid black;
  border-radius: 1em;

  margin: 1em 0 1em 0;
}

.comment a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.comment a:hover {
  color: green;
}



/** Request **/

.request {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1em;
}


.request_left {
  padding: 0;
  margin: 1em;

  max-width: 35em;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lightgrey;
  border: 0.1em solid black;
  border-radius: 1em;
}

.request_pic_wrapper {
  overflow: hidden;

  border: 0.2em solid black;
  border-radius: 0.3em;

  width: 20em;
  height: 15em;
  background-position: center;
  background-size: cover;
}

.request_right {
  padding: 0;
  margin: 0;


  display: flex;
  flex-direction: column;
  align-items: center;
}

.request_fields {
  padding: 0.3em 1em;
  background-color: lightgrey;
  border: 0.1em solid black;
  border-radius: 1em;

  margin: 1em;
}

.request_usr_profile {
  padding: 1em;
  background-color: lightgrey;
  border: 0.1em solid black;
  border-radius: 1em;

  margin: 1em;
}

.request_usr_profile:hover {
  border-color: green;
  background-color: grey;
}

.usr_profile_link {
  text-decoration: none;
  color: black;
}

.request_usr_profile .profile_top_right {
  margin: 1em auto;
}



/** Meus pedidos **/

.requests_nav {
  align-self: center;
  width: fit-content;
  background-color: white;
  margin-top: 1em;
  padding: 1em;

  border: 0.1em solid black;
  border-radius: 1em;

}

.requests_nav a {
  color: black;
  text-decoration: none;
}

.requests_nav a:hover {
  color: green;
}

.requests_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;

}

.requests_nav li {
  border-right: 0.1em solid black;
  padding: 0 1em;
}

.requests_nav li:last-child {
  border: 0;
}

/** Novo Pedido **/

.new_request {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new_request form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.new_request form * {
  margin: 0.5em;
}

.new_request textarea {
  resize: vertical;
}


/** Link para editar perfil no topo do perfil de utilizador **/

.profile > a {
  color: black;
  text-decoration: none;

  border: 0.05em solid black;
  border-radius: 0.3em;

  background-color: lightgrey;

  display: inline-block;
  padding: 0.2em;
  float: right;
  margin: 0.5em 0.5em 0 0;
}

.profile > a:hover {
  color: #F5F5DC;
  background-color: #464646;
}


/** formulario apagar conta **/

#delete_form {
  border: 0.1em solid #d73a49;
  border-radius: 0.3em;
  background-color: #ffdddd;
  color: #5d2020;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 50%;
  margin: 3em auto;
}

#delete_form input {
  font-weight: bold;
  font-size: 1em;
  color: #cb2431;
  padding: 0.5em 1em;
  border: 0.05em solid;
  border-radius: 0.3em;
  background-color: #fafbfc;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

#delete_form input:hover {
  cursor: pointer;
  background-image: none;
  background-color: #cb2431;
  color: #fafbfc;
}
