html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  //background-color: #484848;
  background: url("../res/background.jpg") repeat;
  height: 100%;
  width: 100%;
}

/** header code **/

header {
  position:fixed;
  top:0;
  height: 3em;
  width: 100%;
  background-color: black;
  display:flex;
  justify-content: space-between;
}

.logo {
  height: 75%;
  align-self: center;
  margin-left: 0.3em;
}

.logo > img {
  height: 100%;
  width: auto;
  padding-top: 0.1em;
}

.trigram_container {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 1em 0.3em 0;
}

.trigram_button {
  font-size: xx-large;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-out;
  transition: opacity 500ms;
}

.header_navigation {
  margin: 3em 0 0 0;
  padding: 0.2em 0 0.2em 0;
  background-color: black;
  border: 0.1em solid #F5F5DC;
  border-radius: 0.3em;
}

.overlay {
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.trigram_popup {
  transition: all 500ms ease-in-out;
}

.header_navigation li {
  padding: 0.3em 1.8em 0.3em 1.8em;
  list-style-type: none;
  float: none;
  opacity: 0.9;
}

.header_navigation a {
  color: white;
	text-decoration: none;
	font-size: 0.9em;
}

.header_navigation a.active {
  color: green;
}

.header_navigation a:hover {
  color: #006400;
}

.header_navigation a:hover:not(.active) {
  color: #CFCFCF;
}

/** content code **/

#content {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 1em 3.5em;
}

.post_grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.post_grid a {
  color: #202020;
  text-decoration: none;
  margin: 0.5em;
}

.post_request {
  border: 0.2em solid #000;
  border-radius: 0.5em;
  background-color: white;
  width: 15em;
  height: auto;
  overflow: hidden;
}

.post_request:hover {
  border: 0.2em solid green;
}

.post_img {
  border-color: inherit;
  width: 15em;
  height: 11em;
  overflow: hidden;
  border-bottom: 0.1em solid;
  border-color: inherit;
}

.post_img img {
  display: block;
  height: 100%;
  width: auto;
  margin: auto;
}

.post_description {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

  /** sidebar **/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  margin: 3em 0 3em 0;
  padding: 1em 0.5em 0.5em 0.5em;

  background-color: #F5F5DC;
  border-right: 0.05em solid black;
  color: #181818;

  height: 100vh;
  width: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  transition: width 500ms ease-out;
  visibility: hidden;
  opacity: 0;
}

.user_photo img {
  border: 0.1em solid black;
  border-radius: 0.2em/0.5em;
  width: 10em;
}

.sidebar_colapsed {
  height: 100vh;
  width: 2.5em;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 3em;
  background-color: #181818;
  color: #F5F5DC;
  text-decoration: none;
  border-right: 0.1em solid black;
}

.sidebar_colapsed span {
  position: fixed;
  top: 50%;
  left: -3.1em;
  font-size: 1.5em;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#show_sidebar:target + .post_grid {
  padding-left: 14em;
}

#show_sidebar:target {
  visibility: visible;
  opacity: 1;
  width: 12em;
}

.photo_button {
  transition: width 5s ease-in-out;
}

  /** content nav **/
.content_navigation {
  display: flex;
  justify-content: space-around;
}

.content_navigation ul {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9em;
  padding: 1em 1em 1em 1em;
  margin: 0;
}

.content_navigation li {
  float: left;
  display: inline;
  border-right: 1px solid black;
  border-left: 0;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.content_navigation li:last-child {
  border: 0;
}

.content_navigation a {
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  color: white;
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
  font-size: 1.5em;
  height: 100%;
}

.content_navigation a.active {
  color: white;
  text-decoration: underline;
}

.content_navigation a:hover {
  color: #CFCFCF;
}

/*
.content_navigation a:hover:not(.active) {
  color: #CFCFCF;
}*/

/** footer code **/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

footer > .authors {
  margin: 0;
  color: white;
  font-size: xx-small;
  text-align: center;
  padding: 0.5em;
}
