/** google API **/

.google_api {
  margin: 0 auto;
  width: fit-content;
  overflow: hidden;
  padding: 2em;
}

#map {
  position: relative;
  overflow: hidden;
  height: 30em;
  width: 30em;
}

#floating-panel {
  margin: 0 auto 1em auto;
  width: fit-content;
  text-align: center;
}

#address, #floating-panel > span {
  text-transform: uppercase;
  font-weight: bold;
  color: #232323;
}

#address {
  display: none;
  text-align: center;
  background-color: transparent;
  border: none;
}
