header {
  font-family: verdana, sans-serif;
  background-color: #006699;
  color: #FFFFFF;
  padding: 1em;
  margin: 1em;
}

/* fonts */
body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: "Georgia", serif;
  line-height: 1.4em;
}

#errors {
  background-color: #F00;
  color: white;
  padding: 1em;
}

#success {
  background-color: #090;
  color: white;
  padding: 1em;
}
